<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="styleesheet" href="style.css">
<script src"main.js" defer></script>

</head>
<body>
    

</body>
</html>
  

margin:0
padding:0
box-sizing:border-sizing
text-decoration:none;
border: none;
outline: none;
scroll-behavior:smooth;
font-family:'Poppins','sans-serif;
}
:root{ 
   --bg-color: #080808;
   --second-bg-color: #1b0000;
   
   

   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='s
   <script src="main.js" defer></script>


</head>
<body>

   <header class="header"
   
   <a href="home" class="logo">
       NG<span>Original</span>
   </a>
   <i class="bx bx-menu" id "menu-icon"></i>
   <naw class="navbar">
       <a href"">Home</a>
       <a href"">About</a>
       <a href"">Servises</a>
       <a href"">Projects</a>
       <a href"">Contact</a>
   </nav>


</header>



</body>
</html>
}

.logo{
   font-size:3rem;
   color: var(--text-color)
   font: wegint 800px;
   cursor: pointer;
   transition: 0.3s ease;
}

logo.span{
    text shadow: 0 0 25px var(--main-color);
}
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left:4rem;
    font-wegint:500;
    border-bottom: 3px solid transparent;
    transition: 0 3.s ease;{

    }

    .navbar  a:hover , .navbar a.active{
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);

    
    }

    #menu-icon{
        font-size:
        color: var(--main-color);
        display: none;
        
    }
    

.home{
    width: 100%
    height: auto;
    padding: 10%


}

section{
    min_height: 100vh
    padding: 10rem 12% 10rem;
    {
        .home{
            display: flex;
            align_items: center;
            justify_content:center;

        }
    

